{% extends 'account/base_account.html' %}

<!-- Static dosyalar için => load static -->
{% load static %}

{% block css_files %}
    {{ block.super }} {% comment %} extende edilen sayfadaki CSS dosyalarını bu sayfaya getirmek için {% endcomment %}
{% endblock css_files %}

{% block page_title %}
  Kayıt Ol
{% endblock page_title %}

{% block content %}
  <div class="container mt-3">

      <div class="col-12">

        <h1>
          Kayıt Ol
        </h1>
        <hr>

        <form method="post" enctype="multipart/form-data" novalidate>
          {% csrf_token %}

          {% include "partials/_form.html" %}

          <button type="submit" class="btn btn-primary">Giriş</button>
        </form>

      </div>
    
    </div>
{% endblock %}

{% block js_files %}
    {{ block.super }}  {% comment %} extende edilen sayfadaki JS dosyalarını bu sayfaya getirmek için {% endcomment %}
{% endblock js_files %}
