.list-group-item.active {
    background-color: #645f5d !important; /* Arka plan rengi */
    border-color: #000000 !important; /* Kenarlık rengi */
    color: white !important; /* Yazı rengi */
}

.nav-link.active {
    background-color: white !important;
    border-color: goldenrod !important;
    color: black !important;
    border-radius: 5px;
}


/* Temel stil sıfırlamaları */
ul {
  list-style-type: none; /* Liste işaretlerini kaldır */
  margin: 0;
  padding: 0;
}

.dropdown {
  position: relative;
  display: inline-block; /* Yan yana durmasını sağlar */
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: block; /* li içinde tam genişliği kaplaması için */
}

.dropdown-content {
  display: none; /* Başlangıçta gizli */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; /* Linklerin tüm alanı kaplamasını sağlar */
}

.dropdown-content li a:hover {
  background-color: #f1f1f1;
}

/* Ana menünün üzerine gelindiğinde açılan içeriği göster */
.dropdown:hover .dropdown-content {
  display: block;
}

/* İsteğe bağlı: Ana menü linkinin üzerine gelindiğinde renk değişimi */
.dropdown:hover .dropbtn {
  background-color: #057a4e;
}