<!-- Static dosyalar için => load static -->
{% load static %}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    {% block css_files %}{% endblock css_files %}

    <title>{% block page_title %}{% endblock page_title %}| Botanik Yönetim Sistemi</title>
</head>
<body>
    <header>
        <!--navbar-->
        {% include 'partials/_nav.html' %}
    </header>

    <!--messages-->
   {% include "partials/_messages.html" %}

    <main>
        <!--content-->
        {% block content %}
            
            <div class="container">
                <h1>Hoş Geldiniz!</h1>
                <p>Bu, projenizin ana sayfasıdır. Temel bilgilere buradan ulaşabilirsiniz.</p>
                <p>Yanlış bir işlem yaptığınızda veya yetkiniz olmayan bir yere erişmeye çalıştığınızda buraya yönlendirileceksiniz.</p>
                <p>Anasayfanızı daha fazla içerik ve özellik ile kişiselleştirebilirsiniz.</p>
            </div>

        {% endblock content %}

        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        {% block js_files %}{% endblock js_files %}
    </main>
</body>
</html>
