{% extends "account/base_account.html" %}

<!-- Static dosyalar için => load static -->
{% load static %}

{% block css_files %}
    {{ block.super }} {% comment %} extende edilen sayfadaki CSS dosyalarını bu sayfaya getirmek için {% endcomment %}
{% endblock css_files %}

{% block page_title %}
    Tablo izin Alanları
{% endblock page_title %}   

{% block content %}

    <div class="container mt-3">
        <h1>Tablo izin Alanı</h1>
            <div class="row">

                <div class="col-12">

                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th>Tablo/Model Adı</th>
                                <th>Aktif Mi?</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for table_permission in table_permissions  %}

                                <tr>
                                    <td>{{table_permission.name}}</td>
                                    <td>{{table_permission.is_active}}</td>
                                </tr>

                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                
            </div>
    </div>
{% endblock content %}

{% block js_files %}
    {{ block.super }} {% comment %} extende edilen sayfadaki JS dosyalarını bu sayfaya getirmek için {% endcomment %}
{% endblock js_files %}